* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
.container {
  background-color: #aeb7ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.card {
  background-color: #fefefe;
  color: #6f59fe;
  padding: 1rem;
  width: 40%;
  min-height: 80vh;
  border-radius: 1rem;
  /* overflow: scroll; */
}

.headline {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
input {
  border-color: #a59dd5;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 80%;
}
.submitBtn {
  border: none;
  border-radius: 0.6rem;
  padding: 0.5rem;
  background-color: #6f59fe;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: rgb(70, 55, 55);
  color: white;
}
#btn {
  width: 19%;
}

/***************** style adding by JS**********/
.list-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 232, 232);
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 1rem 0;
  transition: all 0.3s;
}
.list-style:hover {
  background-color: rgb(195, 189, 189);
}
.toast-success {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: black;
  background-color: #ddffdd;
  border-left: 6px solid #04aa6d;
}
.toast-danger {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: black;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}
